{% extends "base.html" %}

{% block content %}
<h2>{{ event['event_name'] }}</h2>

<form method="POST">
    <label>Description:</label>
    <textarea name="event_description">{{ event.get('event_description', '') }}</textarea>

    <label>Budget:</label>
    <input type="number" name="budget" value="{{ event.get('budget', '') }}">

    <label>Volunteers Needed:</label>
    <input type="number" name="volunteers_required" value="{{ event.get('volunteers_required', '') }}">

    <button type="submit">Update Event</button>
</form>
{% endblock %}

